#home{
    display: flex;
    justify-content: space-between;
}
#nav{
    display: flex;
    margin: 10px;
}

#img{
    height: 20px;
    width: 100px;
}

#allbox{
    display: flex;
    display: flex;
}                         

.box{
     border: 2px solid black;
     display: flex;
     height: 500px;
     width: 500px;
    height: 100px;
    width: 100px;
                      
}
