.main-box{
    text-align: center;
    background: rgb(217,133,37);
background: linear-gradient(90deg, rgba(217,133,37,1) 0%, rgba(167,71,71,1) 20%, rgba(70,142,33,1) 66%, rgba(20,166,186,1) 100%);
}

